/* @extends */
.boxshadow {
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
}

.boxshadow-buttons {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2); 
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

/* CUERPO */
body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Sans-serif;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header {
    width: 100%;
    height: auto;

        /* border: 1px solid black; */

    &__nav {
        display: flex;
        justify-content: flex-end;
        padding: 2px 0;
        &-rightsection {
            width: 300px;
            height: inherit;
            padding: 0;

                display: inherit;
                justify-content: flex-end;
                align-items: center;
                list-style: none;
                padding-right: 15px;

            & > li {

                & > a {
                    margin: 0 15px 0 0;
                    & > img {
                        width: 100%;
                        max-width: 32px;
                        height: 32px;

                            border-radius: 50%;
                    }
                }
                & > a:hover {
                    text-decoration: underline;
                }
            } 

            &_menu {
                background-image: url(../Items/menu-icon.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 25px 25px;

                width: 100%;
                max-width: 25px;
                height: 25px;

                    cursor: pointer;
                    margin: 0 20px 0 5px;
            }
        }
    }
}

/* Main */
.main__container {
    display: flex;
    flex-direction: column;
    height: auto;

        /* border: 1px solid black; */ 

    text-align: center;
    padding-top: 120px;

    &-logo {
        & > img {
            width: 100%;
            max-width: 280px;
        }
    }

    &-seeker_container {
        width: 590px;
        margin: 0 auto;
        margin-bottom: 35px;

        &-div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 585px;

                border: 1px solid #dfe1e5;
                border-radius: 100px;

            .search-icon {
                background-image: url(../Items/search-icon.png);
                @extend .background-image;

                    width: 100%;
                    max-width: 20px;
                    height: 20px;
                    margin-right: 5px;
            }

            & > input {
                width: 500px;
                height: 40px;
                border: none;
                outline: none;
            }

            .mic-icon {
                background-image: url(../Items/mic-icon.png);
                @extend .background-image;
                cursor: pointer;

                    width: 100%;
                    max-width: 20px;
                    height: 20px;
                    margin-left: 5px;
            }
        }

        &-div:hover {
            @extend .boxshadow;
            border-color: #dfe1e500;
        }
    }

    &-buttons {
        display: flex;
        margin: 0 auto;
        grid-gap: 15px;

        &_button {
            /* display: inline-block; podriamos reemplazar el display flex del padre por inline en el mismo container de button */
            
            & > button {
                color: rgb(66, 66, 66);
                padding: 8px 15px;
                background-color:  rgba(235, 227, 227, 0.3);
                border: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 14px;
            }

            & > button:hover {
                @extend .boxshadow-buttons;
                color: black;
            }
        }
    }

    &-offered {
        margin-top: 20px;

        & > p {
            
            & > a {
                color: #1A0DAB;
            }
            & > a:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
  /* height: 100vh;
  display: flex;
  flex-flow: column nowrap;   */

  width: 100%;
  position: absolute;
  bottom: 0;

    &__container {
        display: flex;
        flex-flow: column;
        margin-top: auto;
        /* height: 80px; */
        background-color: #F2F2F2;  
        font-size: 15px;
        color: #6F6F6F;
        
        .footer_1 {
            display: inherit;
            align-items: center;

                height: 50%;
                padding: 11px 0px 11px 30px;
                border-top: 1px solid #DADCE0;
        }

        .footer_2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
                height: 50%;
                border-top: 1px solid #DADCE0;
            
            & > div {
                display: flex;
                grid-gap: 25px;
                padding: 11px 30px;

                & > a {
                    text-decoration: none;
                    color: #6F6F6F;
                }

                & > a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
